<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>haimosi</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<display-name>Haimosi context listener</display-name>
		<listener-class>com.haimosi.servlet.listener.ContextListener</listener-class>
	</listener>
	<listener>
		<display-name>Haimosi httpsession listener</display-name>
		<listener-class>com.haimosi.servlet.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<display-name>Haimosi httprequest listener</display-name>
		<listener-class>com.haimosi.servlet.listener.RequestListener</listener-class>
	</listener>
	
	<error-page>
		<error-code>403</error-code>
		<location>/errorhander?errorcode=302</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorhander?errorcode=302</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/errorhander?errorcode=302</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorhander</location>
	</error-page>
	
	<security-constraint>
		<display-name>exclude</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/resource/template/*</url-pattern>
			<url-pattern>/resource/luceneindex/*</url-pattern>
			<url-pattern>/resource/config/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>tomcat</role-name>
		</auth-constraint>
	</security-constraint>
	
	<filter>
		<filter-name>apps v1.0 filter</filter-name>
		<filter-class>com.haimosi.servlet.filter.AuthenAppsFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>apps v1.0 filter</filter-name>
		<url-pattern>/api/v1.0/apps/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>admin v1.0 filter</filter-name>
		<filter-class>com.haimosi.servlet.filter.AdminFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>admin v1.0 filter</filter-name>
		<url-pattern>/api/v1.0/apps/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>Forward link</filter-name>
		<filter-class>com.haimosi.servlet.filter.ForwardLinkFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Forward link</filter-name>
		<url-pattern>/link</url-pattern>
	</filter-mapping>	
	<filter>
		<filter-name>jersey</filter-name>
		<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.haimosi.api.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jersey</filter-name>
		<url-pattern>/api/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>		
	</filter-mapping>	
	
</web-app>